
    <!--<div class="row">
        <div class="input-group col-lg-3 inputrow">
             <input ng-model="titleContains" ng-model-options='{ debounce: 750 }' autofocus ng-change="ChangedTitleSearch()" type="text" class="form-control" placeholder="Title Contains...">

            <span class="input-group-btn">
                <button ng-click="GetTitleBySubstring()" class="btn btn-info" type="button">Go!</button>
            </span>
        </div>
    </div>-->


<div class="row">
    <table class="table table-hover table-condensed tableDarkHeader">
        <thead>
            <tr>
                <th colspan="10">
                    <div class="input-group col-lg-3 inputrow">
                        <!--1/4 of page-->
                        <input ng-model="titleContains" ng-model-options='{ debounce: 750 }' autofocus ng-change="ChangedTitleSearch()" type="text" class="form-control" placeholder="Title Contains...">

                        <span class="input-group-btn">
                            <button ng-click="GetTitleBySubstring()" class="btn btn-info" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </th>
            </tr>

            <tr>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'TITLE'">Title</div>
                </th>

                <th
                    <div sort by="sortType" reverse="sortReverse" order="'ARRANGERS1'">Arranger1</div>
                </th>

                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'CATNUM'">Catalog #</div>
                </th>

                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'LARGE'">Large</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'KEY'">Key</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'ARRANGERS2'">Arranger2</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'LYRICISTS1'">Lyricist1</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'COMPOSERS1'">Composer1</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'COMPOSERS2'">Composer2</div>
                </th>
                <th>
                    <div sort by="sortType" reverse="sortReverse" order="'LYRICISTS2'">Lyricist2</div>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orchestration in orchestrations | orderBy:sortType:sortReverse">
                <!-- Similar to a foreach loop, C#: foreach(var movie in movies ){...} -->
                <td>
                    {{orchestration.TITLE}}
                </td>
                <td>
                    {{orchestration.ARRANGERS1}}
                </td>
                <td>
                    {{orchestration.CATNUM}}
                </td>
                <td>
                    {{orchestration.LARGE}}
                </td>
                <td>
                    {{orchestration.KEY}}
                </td>
                <td>
                    {{orchestration.ARRANGERS2}}
                </td>
                <td>
                    {{orchestration.LYRICISTS1}}
                </td>
                <td>
                    {{orchestration.COMPOSERS1}}
                </td>
                <td>
                    {{orchestration.COMPOSERS2}}
                </td>
                <td>
                    {{orchestration.LYRICISTS2}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("table").stickyTableHeaders({ fixedOffset: $('.fixedheader') });

    });
</script>