<div class="row">
    <h2>Orchestrations</h2>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Arranger</th>
                <th>Catalog#</th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="orchestration in orchestrations"> <!-- Similar to a foreach loop, C#: foreach(var movie in movies ){...} -->
                <td>
                    {{orchestration.TITLE}}
                </td>
                <td>
                    {{orchestration.ARRANGERS1}}
                </td>
                <td>
                    {{orchestration.CATNUM}}
                </td>
            </tr>
        </tbody>
    </table>
</div>