<div class="row">
    <h2>Restaurants</h2>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="restaurant in restaurants">
                <!-- Similar to a foreach loop, C#: foreach(var movie in movies ){...} -->
                <td>
                    {{restaurant.Name}}
                </td>
                <td>
                    {{restaurant.City}}
                </td>
                <td>
                    {{restaurant.Country}}
                </td>
            </tr>
        </tbody>
    </table>
</div>